h3 {
  border: black solid 2px;
}

.detailed-plant-list {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
}

.detailed-plant-item {
  border: 3px solid var(--color-2);
  background-color: var(--color-4);
  border-radius: 10px;
  width: 300px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  margin: 70px;
  padding: 10px;
  /* border: solid black 2px;
  display: flex;
  /* flex-wrap: wrap; */
  /* justify-content: center; */
  /* align-items: center;
  flex-direction: row;
  text-align: center; */ 
}

.detailed-plant-item .img {
  width: 100%;
}

p {
  color:var(--color-1);
  margin: 5px;
}